# Hugo default output directory
/public

# Exclude folders
/node_modules
/resources

# Vendor files
assets/js/vendor/
assets/sass/vendor/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store